PORT=5000
MONGODB_URI=mongodb+srv://tanbinchy_db_user:iwobJ0uqQL9RE49f@cluster0.ndyb9qz.mongodb.net/brandlift?retryWrites=true&w=majority&tls=true&tlsAllowInvalidCertificates=true
JWT_SECRET=BrandLift2024_SuperSecretKey_xK9mP2qL7nR4sT8vW1yZ6
JWT_EXPIRES_IN=7d
ADMIN_SETUP_KEY=brandlift_admin_2024
NODE_ENV=development
FRONTEND_URL=http://localhost:5173